<div class="auth-container">
  <div class="auth-header">
    <h1>Criar Conta</h1>
    <p>Organize sua rotina no DailyFlow.</p>
  </div>

  <%= form_with model: @user, local: true do |f| %>
    <% if @user.errors.any? %>
      <div style="color: red; margin-bottom: 1rem;">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :nome %>
      <%= f.text_field :nome, placeholder: "Seu nome", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, placeholder: "seu@email.com", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, placeholder: "Mínimo 6 caracteres", required: true %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation, "Confirmar Senha" %>
      <%= f.password_field :password_confirmation, placeholder: "Repita a senha", required: true %>
    </div>

    <%= f.submit "Criar minha conta", class: "btn-auth" %>
  <% end %>

  <div class="auth-footer">
    Já tem conta? <%= link_to "Entrar", login_path %>
  </div>
</div>